#contact-me{
    height: calc(var(--content-height) - 50px);
    margin-top: 105px;
}

.text-div{
    padding-left: 25%;
}

.text-div img{
height: 30px;
width: 30px;
margin-right: 20px
}

.contact-way{
    justify-content:left !important;
}

.contact-way p, .contact-way h5{
    color: rgb(92, 92, 92);
    text-shadow:none;
}

.input h5, .input p{
    font-size: 20px;
    color: rgb(92, 92, 92);
    display: inline-block;
}

.important{
    color: red !important;
}
