.mainBackground,
.mainBackground img,
.rollingText {
    height: calc(100vh - 105px);
}

.mainBackground {
    margin-top: 105px;
}

/* 滾動文字 */
.rollingText {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.roller {
    top: calc(100% - 105px);
    height: 25vh;
    position: relative;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    /* 字體是斜體把空間擠出去一點*/
}


#rolltext {
    text-shadow: 3px 3px 2px rgba(255, 3, 3, 0.2) !important;
    z-index: 99;
}

.roller #rolltext {
    position: relative;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
    animation: slide 2s infinite;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: 1.5rem;
    }
}

/* 遮罩 */
.info {
    /* 不要占用到header的空間 */
    top: 105px;
    height: calc(100vh - 105px);
    max-width: 1920px;
    opacity: 0;
    /* flex-direction: column; */
    /*交錯軸線位置與主軸線位置調換，因此內容物呈現直向排列*/
    /* align-items: center; */
    position: absolute;
    display: flex;
    /*絕對定位，不影響其他元素的空間且可以覆蓋其他元素*/
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-size: 22px;
    /*定位在父元素的最頂端*/
}

/*主圖上的左右區塊文字*/
.info div {
    position: relative;
    width: 33.3%;
    padding: 0% 5% 0% 5%;
}


.info p {
    position: relative;
    top: 30%;
    font-size: 40px;
}

.info h1 {
    position: relative;
    top: 35%;
    color: rgb(202, 202, 202);
    font-size: 20px;
    line-height: 5vh;

}

.info:hover {
    opacity: 1;
    transition: opacity 0.75s;
}

.section-div .two-colume {
    background-color: rgb(233, 233, 233);
    height: 400px;
}

.two-colume p,
.two-colume h5 {
    color: rgb(92, 92, 92);
    margin: 20px 20px 0px 20px;
}

.two-colume p {
    color: rgb(92, 92, 92);
    font-size: 40px;
    line-height: 50px;

}

.two-colume p::after {
    content: "";
    width: 50%;
    height: 4px;
    background-color: rgb(248, 192, 159);
    display: block;
    margin-left: 25%;
    margin-top: 20px;
}

.two-colume div h5+h5 {
    text-align: center;
}

.two-colume h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}

.two-colume h5+h5 {
    position: relative;
    margin-top: 10%;
    color: rgb(255, 136, 1);
    text-shadow: 3px 3px 2px rgba(255, 3, 3, 0.2) !important;
    font-weight: bolder;
    font-size: 40px;
    z-index: 99;
}

/*滾動視差圖片*/
#parallax-pic {
    height: 150px;
    margin: 5% 0% 5% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 90% -50%;
    background-size: cover;
    background-image: url(../images/Dancer_Modifed.jpg);
    text-align: center;
}

#parallax-pic p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}

#exp {
    height: 500px;
}

.exp-group {
    display: flex;
}

.exp-row {
    background: rgb(237, 237, 237);
    height: 200px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: cover;
    text-align: center;
}

.textbox{
    position: relative;
    top:50%;
transform: translateY(-50%);
}

.textbox h5{
    font-weight: lighter;
    color: rgb(92, 92, 92);
}

.textbox p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(92, 92, 92);
}

