@import './reset.css';
@import './RWD.css';

/* 宣告 ： --自訂義名稱: 值;
使用 ： 屬性: var(--自訂義名稱);

設定變數的好處是當有變動時，只要去修改設定的值，
有套用此變數的都會一起被修改，
不用一個一個去找，一個一個去改。

:root 為網頁的 根元素 ，也可以設定在 body 或 html ，
在此區域設定的變數，內層都可以使用。 */

:root {
    --width: 1200px;
    --border-show: 0px solid gray;
    --border-hide: 0px solid transparent;
    --radius-large: 10px;
    --radius-small: 5px;
}

html,
body,
header,
nav,
footer,
main,
section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0%;
    background-color: #e0e0e0;
}



/* 字體屬性 */
a,
p,
li,
h1,
h3,
h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: aliceblue;
}

a {
    /* 去除超連結底線 */
    text-decoration: none;
}

img {
    height: 100%;
}

nav,
footer {
    background: rgb(92, 92, 92);
}

header,
footer,
nav,
.sociolMedia {
    display: flex;
    justify-content: space-evenly;
}

header,
nav {
    position: fixed;
    z-index: 100;
    /*z-index的數字愈大，代表愈上層，同理愈小，代表愈底層。*/
}

header {
    height: 75px;
    background: rgb(237, 237, 237);
    width: 100vw;
}

#web-logo {
    align-items: center;
}

nav {
    /* 定位置中但因為參考點是元素最左上方所以只有25% */
    background: rgb(92, 92, 92);
    margin-top: 75px;
    height: 30px;
    width: 100vw;
}

nav div {
    width: 25vw;
    /* 四個選單內容等分切割 */
    text-align: center;
}

nav div a h5 {
    /*無法確認為何h5的屬性本身自帶margin，因此補上0保證不會產生*/
    margin: 0px;
    font-size: 15px;
    line-height: 30px;
    border: var(--border-hide);
    border-radius: var(--radius-large);
    transition: all 0.25s;

}

nav div a h5:hover {
    cursor: pointer;
    border: var(--border-show);
    background-color: rgb(255, 255, 255);
    color: rgb(241, 113, 28);
    transform: scale(1.25);
    transition: transform 0.25s ease;
}

.sociolMedia {
    padding: 0.25vw;
}

.sociolMedia-logo:hover {
    transform: scale(1.25);
    transition: transform 0.25s ease;
}

span {
    border-radius: var(--radius-small);
}

.facebook:hover {
    background-color: rgb(17, 109, 148);
}

.instagram:hover {
    background-color: rgb(250, 16, 82)
}

.github:hover {
    background-color: rgb(141, 145, 146);
}

/* footer */
footer {
    width: 100%;
}

footer div {
    width: 50%;
}

footer div p {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0vw 3vw 0vw 3vw;
}

/* footer */
footer {
    width: 100vW;
}

footer div {
    width: 50%;
}

footer div p {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0vw 3vw 0vw 3vw;
}

/*手機板RWD*/
@media only screen and (max-width: 500px) {
    nav {
        display: none;
    }

    header div {
        margin: 0;
        /* div空間全部使用 */
        width: 100%;
    }

    #logo {
        width: 33%;
        position: relative;
        transform: translate(-50%, 0);
        left: 0%;
    }

    .RWDmenu {
        display: block !important;
    }

    /*
選單線
*/
    .line {
        width: 24px;
        height: 24px;
        display: block;
        padding: 16px;
        position: absolute;
        z-index: 2;
    }

    .line .menu,
    .line .menu::before,
    .line .menu::after {
        border: var(--border-hide);
        border-radius: var(--radius-large);
        box-shadow: 1px 1px 0px 1px black;
        background: #ffffff;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: background ease .3s, top ease .3s .3s, transform ease .3s;
        width: 30px;
    }

    .line .menu {
        left: 35%;
        top: 0px;
    }

    .line .menu::before {
        top: -10px;
    }

    .line .menu::after {
        top: 10px;
    }

    /*
點選選單變叉叉
*/
    #menu:checked+.line .menu {
        background: transparent;
        box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
        /* 中間的橫槓隱藏 */
    }

    #menu:checked+.line .menu::before {
        /* 選轉上下的偽元素(橫槓) */
        transform: rotate(45deg);
        /* 這個位移的基準點不清楚怎計算的 */
        box-shadow: 0px 0px 0px 1px black;
        left: 200%;
    }

    #menu:checked+.line .menu::after {
        /* 選轉上下的偽元素(橫槓) */
        transform: rotate(-45deg);
        box-shadow: 0px 0px 0px 1px black;
        left: 200%;
    }

    #menu:checked+.line .menu::before,
    #menu:checked+.line .menu::after {
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }

    /*
選單開合
*/
    #menu:checked~.menu-list {
        width: 50%;
    }

    .menu-list {
        width: 0px;
        height: 100%;
        background: #f7ce5d;
        background: linear-gradient(-30deg, rgb(176, 123, 236), rgb(240, 201, 63));
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        padding-top: 25%;
        top: 0px;
        position: fixed;
        z-index: 1;
        transition: all .6s;
        overflow: hidden;
    }

    #divider {
        height: 1px;
        box-shadow: 0 2px 4px rgba(10, 10, 10, 10);
        margin-bottom: 25px;
    }

    /*
選單向外推
*/
    .menu-list ul {
        list-style: none;
        margin-left: 50%;
        transform: translate(-50%, 0);
        padding: 0;
        padding-bottom: 50px;
    }

    .menu-list ul>li {
        display: block;
        width: 100px;
        color: #ffffff;
        padding-bottom: 30%;
        font-size: 30px
    }

    /*
隱藏核許框
*/
    input#menu {
        display: none;
    }

    .sociolMedia {
        display: none;
    }

    .sociolMedia_RWD {
        display: block;
    }

    .mainBackground {
        background-image: url("../images/main_dog_background_RWD.jpg");
        /* Full height */
        height: 100%;
        width: 100%;
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-position: 50% 90%;
        background-size: cover;
    }

    .info {
        opacity: 1;
        display: block;
        background-color: rgba(0, 0, 0, 0);
        animation-name: info;
        animation-duration: 2s;
    }

    .info div p {
        color: gray;
    }

    @keyframes info {
        from {
            left: 100%;
        }

        to {
            left: 0%;
            opacity: 1;
        }
    }

    .info div {
        text-align: center;
        /* 必須設定與父元素的關係 */
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #dancerText {
        position: relative;
        top: 15%;
        transform: translate(0, -50%);
    }

    #coderText {
        position: relative;
        bottom: -50%;
        transform: translate(0, -50%);
    }

    /* footer */
    footer {
        position: relative;
        display: block;
        height: 10%;
    }

    /* 底部字體垂直水平置中 */
    footer div {
        width: 100%;
        /* 垂直置中 */
        text-align: center !important;
        /* 必須設定與父元素的關係 */
        position: relative;
        /* 設定top一定要設定position不能為static */
        top: 35%;
        transform: translate(0, -50%);
    }

    footer div p {
        margin: 0px;
        padding: 3px !important;
    }

}

/*手機板RWD 高度小於400px的舊手機*/
@media only screen and (max-width: 400px) {
    #coderText {
        padding-bottom: 90px;
    }

    .infoText p {
        font-size: 125%;
    }

    .infoText h1 {
        font-size: medium;
    }
}
