.indroduction {
    display: flex;
    /*header就占10%高度*/
    height: 600px;
    background: linear-gradient(90deg, rgb(201, 201, 199), rgb(255, 255, 255));
}

.indroduction div {
    width: 50%;
}

.avatar img {
    padding-left: 15%;
    height: 100%;
}

.indroduction p {
    padding: 25% 5% 2.5% 25%;
    font-weight: bold;
    color: rgb(105, 103, 101);
    font-size: xx-large;
    line-height: 40px;
}

.indroduction h5 {
    padding: 0% 5% 0% 35%;
    color: rgb(105, 103, 101);
    line-height: 40px;
}

.describle {
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(90deg, rgb(201, 201, 199), rgb(255, 255, 255));
}

.describle h5 {
    padding: 2.5% 20% 2.5% 20%;
}

.bottomPic {
    position: relative;
    height: 400px;
    width: 100%;
    background: linear-gradient(90deg, rgb(201, 201, 199), rgb(255, 255, 255));
    padding-bottom: 5%;
}

/* .bottomPic img {
    position: relative;
    height: 350px;
    width: 455px;
} */

.bottomPic div {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    background: linear-gradient(-30deg, rgb(254, 216, 216), rgb(248, 236, 191));
    box-shadow: 10px 10px 25px 1px rgba(11, 75, 91, 0.50);
    border-radius: var(--radius-large);
    height: 400px;
    width: 532px;
    
}

.bottomPic div::after {
    position: absolute;
    /*絕對定位*/
    content: "";
    /*沒有加這段就不會產生偽元素*/
    height: 400px;
    width: 532px;
    background-image: url("../images/gold1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 25px 1px rgba(11, 75, 91, 0.50);
    border-radius: var(--radius-large);
    top: 25px;
    left: 25px;
}
