/*滾動視差圖片*/
#parallax-pic {
    height: var(--content-height);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 90% -50%; */
    background-size: cover;
    background-image: url(../images/Dancer_Modifed_02.jpg);
    text-align: center;
    margin-top: 105px;
}

#parallax-pic p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    color: aliceblue;

}

.projects {
    height: 250px;
}

img[class="projects"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 500px;
    box-shadow: 5px 5px 10px #ccc;
}

@media only screen and (max-width: 500px) {
    .projects {
        height:auto;
    }

    img[class="projects"] {
        width: 100%;  
    }
}
